<mat-card class="card">
  <mat-card-title-group>
    <mat-card-subtitle>{{data.dateDeRendu | date:"dd/MM/yy"}}</mat-card-subtitle>
    <mat-card-title class="card-title">{{data.matiere}}</mat-card-title>
    <img class="card-prof" width="50" height="50" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content class="card-content">
    <p *ngIf="data.rendu">{{data.notes}}/20</p>
    <p *ngIf="!data.rendu" appNonRendu class="card-title">note non attribuée</p>
    <p>{{data.remarques}}</p>
    <p>{{data.auteur}}</p>
  </mat-card-content>
  <div id="bottom">
    <mat-checkbox *ngIf="!data.rendu" (click)="onAssignmentRendu()">Rendu</mat-checkbox>
    <button mat-stroked-button color="primary" (click)="onClickEdit()" [disabled]="!isLoggedIn()">EDITER</button>
    <button mat-raised-button color="warn" (click)="onDelete()" [disabled]="!isLoggedIn()">SUPPRIMER</button>
  </div>
</mat-card>
